# Day 24

### Tuples

Tuple is one of the built-in data types in Python. A Python tuple is a sequence of comma separated items, enclosed in parentheses (). The items in a Python tuple need not be of same data type.

In [1]:
tup=(1,2,3)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3)

In [2]:
tup=(1)
print(type(tup))
print(tup)

<class 'int'>
1

When we add only one element in a tuple, it consider as a integer.To keep one element as a tuple we add comma(,) after element

In [4]:
tup=(1,)
print(type(tup))
print(tup)

<class 'tuple'>
(1,)

We can't modify the tuple

In [6]:
tupl=(1,2,3.3,'Rohan',True)
tupl[0]=90

TypeError: 'tuple' object does not support item assignment

indexing of tuple is same as lists

In [7]:
tupl=(1,2,3.3,'Rohan',True)
print(tupl[1])
print(tupl[-2])

2
Rohan

In [8]:
if 'Rohan' in tupl:
    print('Yes')

Yes

we can create another tuple from given tuple

In [10]:
tup1=(1,2,3,4,5,6,7,8,9)
tup2=tup1[1:len(tup1):2]
print(tup1)
print(tup2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(2, 4, 6, 8)