# Day 6

## Variables and Data Types

## What is variables?
Variable is like a container that holds data. Very similar to how our container holds sugar, salt, etc. Creating a variable
just like creating a placeholder in memory and assigning it some values. In python it is easy as writing.

a=1    b=True    c='Rohan'    d=None

These are four variables of different data types

In [1]:
a=1234
print(a)

1234

In [2]:
b=None
print(b)

None

In [4]:
name='Rohan'
print(name)

Rohan

In [5]:
num1,num2=32,65
print('num1 :',num1)
print('num2 :',num2)

num1 : 32
num2 : 65

In [6]:
a=123
b='hello'
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## What is Data Types?
Data type specifies the type of value a variable holds. This required in programming to do various operations without causing an eror. In python, we can print type of operator using type function

### 1. Numerical data: int, float complex
### 2. Text data: str
### 3. Boolean data

In [7]:
a=2
print(type(a))

<class 'int'>

In [8]:
b='hello'
print(type(b))

<class 'str'>

In [9]:
c=True
print(type(c))

<class 'bool'>

In [10]:
d=None
print(type(d))

<class 'NoneType'>

In [11]:
e=12.545
print(type(e))

<class 'float'>

In [13]:
f=12+3i
print(f)

SyntaxError: invalid syntax (3278583565.py, line 1)

In [17]:
f=complex(12,-3)
print('complex number :',f)
print(type(f))

complex number : (12-3j)
<class 'complex'>

### Sequenced data: list, tuple
#### List
A list is an ordered collection of data with elements separated by a comma and enclosed with square bracket. Lists are mutable and can be modified after creation.

In [18]:
list1=[1,2.3,[-4,5],['Rohan','Bhati']]
print(list1)

[1, 2.3, [-4, 5], ['Rohan', 'Bhati']]

In [22]:
print(type(list1))

<class 'list'>

In [28]:
for i in list1:
    print(i)

1
2.3
[-4, 5]
['Rohan', 'Bhati']

Tuple
A tuple is an ordered collection of data with elements separated by a comma and enclosed with parantheses. Tuples are immutable and cannot be modified after creation.

In [20]:
Tuple=(('Rohan','Bhati'),('Hello','World'))
print(Tuple)

(('Rohan', 'Bhati'), ('Hello', 'World'))

In [23]:
print(type(Tuple))

<class 'tuple'>

In [29]:
for i in Tuple:
    print(i)

('Rohan', 'Bhati')
('Hello', 'World')

### Mapped Data: Dictionary
A dictionary is an unordered collection of data containing a key:value pairs are enclosed within curly {} brackets.

In [26]:
student={'Name':'Rohan',
     'Age':19,
      'Can Vote':True
     }
print(student)

{'Name': 'Rohan', 'Age': 19, 'Can Vote': True}

In [27]:
print(type(student))

<class 'dict'>