# Day 11

# String

Anything between single or double quotation is mark is considered a string.

In [2]:
name='Rohan'
print(name)
print(type(name))

Rohan
<class 'str'>

In [3]:
name="Rohan"
print(name+' Bhati')

Rohan Bhati

In [4]:
str='hello everyone, my name is 'Rohan''
print(str)

SyntaxError: invalid syntax (660616399.py, line 1)

To print quotes we using escape sequence (\)

In [5]:
str='hello everyone, my name is \'Rohan\''
print(str)

hello everyone, my name is 'Rohan'

In [6]:
str1='my name is Rohan
I am from Indore
'
print(str1)

SyntaxError: EOL while scanning string literal (1400150763.py, line 1)

To print multi line in a single string we use backslask at the end of every line or use triple quotes

In [16]:
# backslash method
str1='my name is Rohan \
I am from Indore\
'
print(str1)

my name is Rohan I am from Indore

In [12]:
# triple quote method
str2='''my name is Rohan
I am from Indore

'''
print(str2)

my name is Rohan
I am from Indore

In Python, string is like an array of characters. We can access parts of string by using its index which starts from 0.

In [19]:
name='Rohan'
print(name[0])
print(name[1])
print(name[2])
print(name[5])

R
o
h

IndexError: string index out of range

we can loop through strings using for loop like this

In [20]:
alphabet='abcdefghijklmnopqrstuvwxyz'
for i in alphabet:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z