# Day 25
### Operations on tuples

to add remove or change tuple first it need to be change into list then convert into tuple

In [1]:
tup=(1,2,3,4,5,6)
tup=list(tup)
print(type(tup))

<class 'list'>

In [2]:
tup[0]=10
tup.pop()
tup.append(100)
tup=tuple(tup)
print(tup)
print(type(tup))

(10, 2, 3, 4, 5, 100)
<class 'tuple'>

##### Count()
count method is used to count the number of occurence of particular element

In [4]:
tup1=(1,1,1,2,3,4,6,3,6,8,2,5,2,2,2,2)
print(tup1.count(2))

6

##### index()
index is use to find the index of element. to find in specific range syntax -> index(element,start_index,end_index)

In [6]:
tup2=(0,1,2,3,2,3,1,3,19,3)
print(tup2.index(19))

8

In [10]:
print(tup2.index(3,4,8))

5

##### Concatenation()
we can add two tuples without converting into list

In [11]:
number1=(1,2,3,4,5)
number2=(6,7,8,9,10)
number3=number1+number2
print(type(number3),number3)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

##### Repetition

In [12]:
new_tuple=('Rohan',)*5
print(len(new_tuple))
print(new_tuple)

5
('Rohan', 'Rohan', 'Rohan', 'Rohan', 'Rohan')