# Day 32
## Set Methods

In [1]:
s1={1,2,3,5}
s2={3,5,7}

###### Union()

In [2]:
print(s1.union(s2))
print(s2.union(s1))
print(s1,s2)

{1, 2, 3, 5, 7}
{1, 2, 3, 5, 7}
{1, 2, 3, 5} {3, 5, 7}

##### Update()
to update value use update

In [3]:
s1.update(s2)
print(s1)

{1, 2, 3, 5, 7}

##### intersection()

In [4]:
s3={1,2,3,4,5}
s4={4,5,6,7,8}
print(s3.intersection(s4))
print(s4.intersection(s3))

{4, 5}
{4, 5}

##### intersection_update()

In [5]:
s3.intersection_update(s4)
print(s3)

{4, 5}

##### symmetric_difference()

In [6]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print(x.symmetric_difference(y))
print(y.symmetric_difference(x))
print(x,y)

{'cherry', 'google', 'microsoft', 'banana'}
{'microsoft', 'banana', 'google', 'cherry'}
{'apple', 'cherry', 'banana'} {'google', 'microsoft', 'apple'}

##### symmetric_difference_update()

In [7]:
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'banana', 'google', 'cherry'}

##### difference()

In [8]:
x1={1,2,3,4}
x2={3,4,5,6}
print(x1.difference(x2))
print(x2.difference(x1))
print(x1,x2)

{1, 2}
{5, 6}
{1, 2, 3, 4} {3, 4, 5, 6}

##### difference_update()

In [9]:
x1.difference_update(x2)
print(x1)

{1, 2}

##### isdisjoint()
Returns whether two sets have a intersection or not

In [10]:
set1={1,2,3,4,5}
set2={6,7,8,9,10}
print(set1.isdisjoint(set2))

True

##### issuperset()
Returns whether this set contains another set or not

In [11]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
print(x.issuperset(y))
print(y.issuperset(x))

True
False

##### issubset()
Returns whether another set contains this set or not

In [12]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
print(x.issubset(y))
print(y.issubset(x))

False
True

##### add()
Adds an element to the set

In [13]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'cherry', 'banana'}

##### clear()
Removes all the elements from the set

In [14]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

##### remove()
Removes the specified element

In [15]:
cities={'Tokyo','Madrid','Berlin','Delhi'}
cities.remove('Madrid')
print(cities)

{'Tokyo', 'Berlin', 'Delhi'}

In [16]:
cities.remove('Indore')
print(cities)

KeyError: 'Indore'

##### discard()
Remove the specified element if element not found it does not produce any error like remove()

In [17]:
country={'India','Australia','England','Japan'}
country.discard('Australia')
print(country)

{'England', 'Japan', 'India'}

In [18]:
country.discard('France')

##### pop()
Removes an element from the set

In [19]:
number={1,2,3,9,8,7,6,12,46,32}
item1=number.pop()
item2=number.pop()
print(item1,'',item2,number)

32  1 {2, 3, 6, 7, 8, 9, 12, 46}

##### del()
it is a keyword, which delete the set entirely

In [20]:
num={1,2,3,4,5}
print(num)
del num
print(num)

{1, 2, 3, 4, 5}

NameError: name 'num' is not defined

##### copy()
Returns a copy of the set

In [22]:
nums1={1,2,3,4,5}
nums2=nums1.copy()
print(nums1)
print(nums2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [5]:
a=5
print(a)
a='hello'
print(a)

5
hello
<class 'float'>